{% extends 'base.html' %}

{% block body %}
{% load static %}
<div class="hero" style="background-image: url({% static 'cadastro/img/background.png' %});">
    <div class="navbar">
        <img src="{% static 'cadastro/img/logo.png' %}">
        <button type="button">sing Up</button>
    </div>
    <div class="content">
        <small>Welcome to our</small>
        <h1>Word's<br>Creative Studio</h1>
        <button type="button">Take a Tour</button>
    </div>
    <div class="side-bar">
        <img src="{% static 'cadastro/img/menu.png' %}">

        <div class="social-links">
            <img src="{% static 'cadastro/img/fb.png' %}">
            <img src="{% static 'cadastro/img/ig.png' %}">
            <img src="{% static 'cadastro/img/tw.png' %}">
        </div>
        <div class="useful-links">
            <img src="{% static 'cadastro/img/share.png' %}">
            <img src="{% static 'cadastro/img/info.png' %}">
        </div>
    </div>
</div>
{% endblock %}